body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #BBF;
  color: white;
}

.fish
{
    float: left;
    background-color: white;
 
    margin: 4px;
    overflow: hidden;
    text-align: center;
}

#canevas
{
    margin: 0px;
    
}
