
table.classic 
{
  margin: 0.25em;
  text-align: center;
}

.fix_width td
{
  width: 1.3em;
}

.clem_style img
{
  background: white; 
  width:25em; 
  position: absolute; 
  right: 5em; 
  top: 5em;" 
}

.clem_style2
{
  background: white; 
  display: block;
  position: relative;
  width: 30em;
  margin: auto;
}

.clem_style2 img
{
  display: block;
  background: white; 
  width:30em; 
  position: absolute; 
  margin: 0 auto; 
}
